/* ADOBE FONT */

@font-face {
    font-family:"coquette";
    src:url("https://use.typekit.net/af/08e6da/00000000000000003b9b0381/27/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/08e6da/00000000000000003b9b0381/27/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/08e6da/00000000000000003b9b0381/27/a?subset_id=2&fvd=n7&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:700;
}
@font-face {
    font-family:"montana";
    src:url("https://use.typekit.net/af/432a72/00000000000000003b9b3739/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/432a72/00000000000000003b9b3739/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/432a72/00000000000000003b9b3739/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:500;
}
@font-face {
    font-family:"platelet";
    src:url("https://use.typekit.net/af/15fc47/00000000000000003b9ade02/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/15fc47/00000000000000003b9ade02/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/15fc47/00000000000000003b9ade02/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:200;
}

/* GLOBAL */

html {
    font-size: 16px;
    box-sizing: border-box;
    height: -webkit-fill-available;
}
* {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-image: url('../images/grunge-rubiks-pattern.png');
    margin: 0;
    padding: 0;
}

/* HEADER */

a {
    text-decoration: none;
}
#corner-pocket {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15.62rem;
    margin: 2rem 1.25rem 1rem 1.25rem;
    padding: 0 .63rem;
}
#logo {
    width: 110px;
}
#logo-text {
    width: 80px;
}
.logo-lines {
    width: 100%;
    height: 4px;
    border-radius: 25px;
    display: inline-block;
    background-color: rgba(20, 175, 234, 0.76);
}
h1 {
    font-family: platelet, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: snow;
    text-transform: uppercase;
    font-size: 2.17rem;
    background: -webkit-linear-gradient(160deg, #f09433 5%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 97%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 -.35rem 0;
}

/* MAIN */

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
#etch-a-sketch {
    width: 500px;
    height: 320px;
    background-color: #f92222f0;
    border-radius: 25px;
}
#input-container {
    width: 450px;
    height: 200px;
    margin: 0 auto;
}
h2 {
    font-family: coquette, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(245, 190, 52);
    font-style: normal;
    padding-bottom: 0.75rem;
    text-align: center;
    margin: 25px 0 10px 0;
}
#question {
    font-family: montana, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.7rem;
    font-style: normal;
    line-height: 1.3;
    color: rgb(80, 71, 71);
    width: 100%;
    min-width: 250px;
    height: 145px;
    resize: none;
    padding: 20px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: rgb(247, 245, 245);
}
#question::placeholder {
    font-style: italic;
    opacity: 0.7;
}
#knob-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.submit {
    border: none;
    background-color: rgb(250, 250, 250);
    font-family: 'Bungee Hairline', cursive;
    font-size: 2.3rem;
    font-weight: bold;
    color: rgb(212, 212, 212);
    padding: 0 10px;
    border-radius: 50%;
    border-style: none dotted dotted none;
    border-width: 2px;
    border-color: rgb(136, 129, 129);
    cursor: pointer;
}
.submit:hover {
    transform: rotate(180deg);
}
#ball-container {
    width: 400px;
    height: 400px;
    margin: 0 1rem 6rem 1rem;
    position: relative;
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes bounce {
    0%   {top:80px;}
    25%  {top:10px;}
    50%  {top:60px;}
    75%  {top:0px;}
    100% {top:80px;}
}
.shake {
    animation: shake .5s ease-out;
}
@keyframes shake {
    0%   {left:0;}
    25%  {left:10%;}
    50%  {left:0;}
    75%  {left:-10%;}
    100% {left:0;}
}
#ball-front {
    width: 100%;
    min-width: 318px;
    height: 100%;
    position: relative;
}
#ball-response {
    font-family: 'Bungee Hairline', cursive;
    font-size: 18px;
    color: rgb(255, 255, 255);
    width: 100px;
    text-align: center;
    margin: -230px auto;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

/* FOOTER */

footer {
    font-family: 'Bungee Hairline', cursive;
    font-size: .875rem;
    color: rgb(70, 130, 180);
    padding: 15px 30px;
    width: 100%;
    margin-top: auto;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1240px) {

    /* MAIN */

    main {
        flex-direction: column-reverse;
    }
    #etch-a-sketch {
        margin: 3rem auto 5rem;
    }
    #ball-container {
        margin: 3rem auto;
    }
}

@media only screen and (max-width: 415px) {
    main {
        margin-top: 15%;
    }
}